:root {
    --amarilloClaro: #e8e85b;
    --amarillo: #adad42;
    --amarilloOscuro: #7b7b1e;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 16px; /*1rem = 10px*/
}
img {
    width: 100%;
}
.header {
    height: 70rem;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../hero.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.header h2 {
    font-size: 7rem !important;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
    background-color: rgba(152, 195, 23, 0.2);
}
.navbar-toggler-icon {
    height: 3rem;
    width: 3rem;
}
.nav-link:hover {
    color: var(--amarilloClaro) !important;
}
.nosotros p {
    line-height: 2;
}
.titulo {
    font-size: 2.5rem;
    color: var(--amarilloOscuro);
    font-weight: bold;
}
.testimonios, .nosotros {
    margin-top: 5rem;
}
.testimonios, .contacto {
    margin-bottom: 5rem;
}
.container-foto {
    background-image: url(../foto1.jpg);
    background-position: center;
    background-size: cover;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
.fn-1 {
    background-image: url(../foto2.jpg);
}
.fn-2 {
    background-image: url(../foto3.jpg);
}
.bg-amarillo {
    background-color: var(--amarillo);
}
.bg-amarillo:hover {
    background-color: var(--amarilloOscuro);
}
.active:hover {
    color: #ffffff !important;
}
.footer {
    background: #e9d362;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333333, #e9d362);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333333, #e9d362); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 4rem;
    font-size: 1.5rem;
}
.width {
    max-width: 60rem;
}
.height {
    height: 40rem;
}
.width-link {
    width: min(40rem,100%);
}
@media (min-width: 768px) {
    .margin {
        margin-top: 10rem!important;
    }
}
.margin-top {
    margin-top: 4rem;
}
.button {
    width: 15rem;
    background-color: var(--amarillo);
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}
.button:hover {
    background-color: var(--amarilloOscuro);
}
